.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details {
  padding: 15px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.product-content{
    display: flex;
    padding: 0 10px;
    gap: 10px;
}


.product-details h3 {
  margin: 0 0 10px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-category {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.product-price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #000;
}

.rating {
  color: #666;
  font-size: 14px;
}

.rating::before {
  content: '★';
  color: gold;
  margin-right: 5px;
}